{# Set the path for the footer logo icon. #}
{% set site_logo_icon_url =  base_path ~ directory ~ '/gfx/logo-icon.svg' %}


<footer class="site-footer">
  <div class="container">
    {# Footer top. #}
    <div class="site-footer__top">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {# Logo. #}
          <div class="site-footer__logo">
            <a href="{{ front_page }}">
              <img src="{{ site_logo_icon_url }}" alt="{{ site_name ? site_name }}" />
            </a>
          </div>

          {# Contact info. #}
          {% if page.footer_top %}
            <div class="site-footer__contact">
              {{ page.footer_top }}
            </div>
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6">
          {# Social media navigation. #}
          {% if page.social_nav %}
            <div class="social-media-nav">
              {{ page.social_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Footer main. #}
    

    {# Footer bottom. #}
    
  </div>
</footer>

{# Video Modal #}


{# Help Modal #}


{# Feature Beacon. #}
{% if page.feature_beacon %}
  {{ page.feature_beacon }}
{% endif %}
{# / Feature Beacon. #}

{% if page.access_gate %}
{# Access Gate Modal Block #}
 {{ page.access_gate }}
{% endif %}
